.first-title {
    text-align: center;
    justify-content: center;
    margin-top: -450px;
    color: aliceblue;
    font-size: 28px;
    font-weight: 900;

}

.header .first-section .img {
    width: 1320px;
    height: 600px;
    border: 15px 15px 15px 15px;
    flex-shrink: 0;
    margin: 30px auto;
    position: relative;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.CATEGORIES {
    text-align: center;
}

#Discount {
    color: #F00;
    font-size: 75px;
    font-weight: 700;
    margin-top: 110px;
}

#DEALS {
    color: #F00;
    font-size: 20px;
    font-weight: 500;
}

#CATEGORIES {
    color: #070211;
    font-size: 40px;
    font-weight: 700;
}

#ny-mission {
    margin-left: 520px;
    margin-top: 20px;
    width: 802.9px;
    height: 500px;
}

.Welcome {
    display: flex;
    gap: 10px;
    background-image: url(B9A1-New-Year-New-Mission-main/resources/Vectorrr.png);
    width: 1300px;
    height: 600px;
    margin-left: 260px;
    margin-top: 50px;
}

#party {
    color: #fff;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 7.04px;

}

#des {
    margin-left: 150px;
    margin-right: 50px;
    margin-top: 110px;
    color: #fff;
}

.mission {
    margin-top: 100px;
    margin-right: 100px;
}

.btn {
    margin-top: 30px;
    margin-left: 50px;
    background-color: none;
    padding: 5px;
}

.tkt {
    color: #F00;
}

.bgc {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    fill: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}