.first-title {
    text-align: center;
    justify-content: center;
    margin-top: -450px;
    color: aliceblue;
    font-size: 28px;
    font-weight: 900;

}

.header {
    padding: 20px;
}

.header .first-section .img {
    width: 1320px;
    height: 600px;
    border: 15px 15px 15px 15px;
    flex-shrink: 0;
    margin: 30px auto;
    position: relative;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.CATEGORIES {
    text-align: center;
    padding: 100px;
}

#Discount {
    color: #F00;
    font-size: 75px;
    font-weight: 700;
    margin-top: 110px;
}

#DEALS {
    color: #F00;
    font-size: 20px;
    font-weight: 500;
}

#CATEGORIES {
    color: #070211;
    font-size: 40px;
    font-weight: 700;
}

#ny-mission {
    margin-left: 520px;
    margin-top: 20px;
    width: 802.9px;
    height: 500px;
}

.Welcome {
    display: flex;
    padding: 0px;
    gap: 10px;
    background-image: url(B9A1-New-Year-New-Mission-main/resources/Vectorrr.png);
    width: 1300px;
    height: 600px;
    margin-left: 260px;
    margin-top: 50px;
}

#party {
    color: #fff;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 7.04px;

}

#des {
    margin-left: 150px;
    margin-right: 50px;
    margin-top: 110px;
    color: #fff;
}

.mission {
    margin-top: 100px;
    margin-right: 100px;
}

.btn {
    margin-top: 30px;
    margin-left: 50px;
    background-color: none;
    padding: 5px;
}

.tkt {
    color: #F00;
}

.bgc {
    text-align: center;
    line-height: 56px;
    background-color: #FF00000D;
    background-size: -50px;
    border-radius: 20px;
    height: 250px;
    margin-left: 255px;
    margin-right: 305px;
}

.nbo {
    margin-left: 260px;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.OFFER {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.cs {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

.paragraph {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
}

.hny {
    margin-left: 1300px;
    margin-top: -290px;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    padding: auto;
}

.ny {
    color: #F00;
    font-size: 45px;
    margin-top: 4px;
}

.dolor {
    margin-top: -30px;
}

.sale {
    text-align: center;
    .
}

.FUNCTIONAL {
    color: #070211;
    font-size: 24px;
}

.holidays {
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

.color {
    color: #F00;
}

.title {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

#Women {
    margin-left: 1150px;
}

#carpet {
    margin-top: -10px;
    margin-left: 259px;
    white-space: 155px;
}

#gift {
    width: 500px;
    margin-top: -600px;
    margin-left: 350px;
}

.discount {
    margin-top: -11000px;
    margin-left: 940px;
    position: relative;
}

.img {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 100%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.nypc {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

.para {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    margin-left: 260px;
}

.tbg {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-left: 260px;
}

.oap {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-left: 260px;
}

.Awesome-portfolio {
    width: 35px;
    margin-left: 260px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px
}

.gift-section {}

.newsletter {
    background-color: #FF00000D;
}

#msg-box {
    margin-left: 850px;
}

.news {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
}

.se {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}